In [19]:
import pandas as pd
import numpy as np
import joblib
from sklearn.preprocessing import LabelEncoder, StandardScaler
import joblib

In [20]:
data = pd.read_csv("predictive_maintenance.csv")

In [21]:
label = LabelEncoder()
data[['Product ID','Type','Failure Type']] = data[['Product ID','Type','Failure Type']].apply(label.fit_transform)

In [22]:
x = data.iloc[:,1:8]

y = data.iloc[:,-1]

In [23]:
x

,Product ID,Type,Air temperature [K],Process temperature [K],Rotational speed [rpm],Torque [Nm],Tool wear [min]
0,7003,2,298.1,308.6,1551,42.8,0
1,1003,1,298.2,308.7,1408,46.3,3
2,1004,1,298.1,308.5,1498,49.4,5
3,1005,1,298.2,308.6,1433,39.5,7
4,1006,1,298.2,308.7,1408,40.0,9
...,...,...,...,...,...,...,...
9995,9997,2,298.8,308.4,1604,29.5,14
9996,1001,0,298.9,308.4,1632,31.8,17
9997,9998,2,299.0,308.6,1645,33.4,22
9998,1002,0,299.0,308.7,1408,48.5,25
9999,9999,2,299.0,308.7,1500,40.2,30

In [24]:
y

0       1
1       1
2       1
3       1
4       1
       ..
9995    1
9996    1
9997    1
9998    1
9999    1
Name: Failure Type, Length: 10000, dtype: int32

In [25]:

scaler = StandardScaler()
x = scaler.fit_transform(x)
joblib.dump(scaler, "scaler.joblib")

['scaler.joblib']